$browser-default-font-size: 75px !default;
@function pr($px) {
  @return $px / $browser-default-font-size * 1rem;
}
.gjxx-rw{
  width: 700px;
  height: 194px;
  padding: 44px 61px 44px 467px;
  box-sizing: border-box;
  background-repeat: no-repeat;
  &.gjxx-rw2{
    padding: 44px 44px 44px 484px;
  }
  &.gjxx-rw3{
    padding: 44px 35px 44px 491px;
  }
  a{
    display: block;
    width: 172px;
    height: 44px;
    &.rw-zx{
      margin-bottom: 18px;
      
    }
  }
}
@media screen and (max-width:750px) {
  .gjxx-rw{
    width: 100%;
    height: pr(207.85px);
    padding: pr(44px) pr(60px) pr(44px) pr(496px);
    background-size: 100% 100%;
    &.gjxx-rw2{
      padding: pr(44px) pr(44px) pr(44px) pr(510px);
    }
    &.gjxx-rw3{
      padding: pr(44px) pr(35px) pr(44px) pr(520px);
    }
    a{
      width: 100%;
      height: pr(50px);
      &.rw-zx{
        margin-bottom: pr(18px);
      }
    }
  }
}