$browser-default-font-size: 75px !default;
@function pr($px) {
  @return $px / $browser-default-font-size * 1rem;
}
.gjxx-rw{
  width: 700px;
  height: 194px;
  background-repeat: no-repeat;
  a{
    display: block;
    width: 100%;
    height: 100%;
    &.rw-zx{
      display: none;
    }
  }
}
@media screen and (max-width:750px) {
  .gjxx-rw{
    width: 100%;
    height: pr(207.85px);
    padding: pr(43px) pr(35px) pr(43px) pr(467px);
    background-size: 100% 100%;
  }
}